# Core ML & DS
numpy>=2.0.2
gymnasium==0.29.1 # -- loosen
lightning>=2.5.0.post0
torchvision>=0.21.0
deepspeed>=0.14.5
peft>=0.15.2
transformers[torch]>=4.49.0
tensorflow>=2.18.0 # Confirm TF version
tensorflow-text>=2.18.1 # Adjusted to match TF version
keras-nlp>=0.19.3
tf-keras>=2.18.0 # Adjusted to match TF version
ray>=2.43.0
cut-cross-entropy

# PyTorch Ecosystem
torch>=2.7.0 # wheel file? torch-2.7.0+cu126-cp311-cp311-manylinux_2_28_x86_64.whl
tensordict==0.8.3 # wheel file? tensordict-0.7.2-cp311-cp311-manylinux1_x86_64.whl
torchrl==0.8.1 
torchtune==0.6.0
torch-tb-profiler>=0.4.3
torchao>=0.9.0
compressed-tensors>=0.9.3

# Utilities & Tooling
hydra-core>=1.3.2
pretty-midi>=0.2.10
tensorboard>=2.18.0 # Adjusted to match TF version
ipykernel>=6.29.5
hatchling>=1.27.0
editables>=0.5
psutil>=5.9.0
tenacity>=9.1.2
pydantic>=2.11.3
pydantic-core>=2.33.1
huggingface-hub>=0.30.0
lm-format-enforcer>=0.10.11
mistral-common>=1.5.4
numba>=0.61.2
setuptools>=78.1.0
cmake>=3.25.0,<=3.26.3
# appworld>=0.1.3 -- dependency conflict
coverage>=7.6.12
httptools>=0.6.4
xgrammar>=0.1.18
singleton-decorator>=1.0.0
regex>=2024.11.6

# Git Dependency
git+https://github.com/apple/ml-cross-entropy.git